<app-navbar></app-navbar>
<div class="main-viewpage-container">
  <div class="prepration-container">
    <div class="recipe-image">
      <img
        src="https://t3.ftcdn.net/jpg/01/62/46/22/360_F_162462284_rmr3e5bZdvTkyLd0Bpy9xHWtQer2I2l0.jpg"
        alt="recipe-image"
      />
    </div>
    <div class="method-container">
      <div>
        <h1>Sweet apple squares</h1>
        <p>Time required: 30 min</p>
      </div>
      <div>
        <h4 class="ingredients">INGREDIENTS</h4>
        <ul>
          <li>Apple</li>
          <li>Banana</li>
          <li>Kiwi</li>
          <li>Cashew</li>
          <li>Sugar</li>
          <li>Icecream</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="directions">
    <h4>DIRECTIONS</h4>
    <ol>
      <li>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo vel,
        quasi nisi temporibus beatae vero architecto, eum harum doloribus
        praesentium est. Eveniet, quos consectetur error nulla quod eos impedit
        repellendus?
      </li>
      <li>
        temporibus beatae vero architecto, eum harum doloribus praesentium est.
        Eveniet, quos consectetur error nulla quod eos impedit repellendus?
      </li>
      <li>
        temporibus beatae vero architecto, eum harum doloribus praesentium est.
        Eveniet, quos consectetur error nulla quod eos impedit repellendus?
      </li>
      <li>
        temporibus beatae vero architecto, eum harum doloribus praesentium est.
        Eveniet, quos consectetur error nulla quod eos impedit repellendus?
      </li>
      <li>
        temporibus beatae vero architecto, eum harum doloribus praesentium est.
        Eveniet, quos consectetur error nulla quod eos impedit repellendus?
      </li>
    </ol>
  </div>
</div>

<app-footer></app-footer>
