<footer class="footer-box">
  <div class="footer-container">
    <div>
      <img style="width: 40px" src="assets/RecipeNest-logo.png" alt="logo" />
      <h2>RecipeNest</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eius
        dignissimos sint
      </p>
    </div>
    <div class="links-container">
      <div>
        <ul>
          <h5>Contact Us</h5>
          <li>company@gmail.com</li>
          <li>+121 5657488963</li>
          <li>Vidya nagar 123 street</li>
        </ul>
      </div>
      <div>
        <ul>
          <h5>Quick Links</h5>
          <li>Home</li>
          <li>About</li>
          <li>services</li>
          <li>Contact</li>
        </ul>
      </div>
      <div>
        <ul>
          <h5>Legal</h5>
          <li>Terms of service</li>
          <li>Privacy Policy</li>
          <li>Cookies Policy</li>
          <li>Data Processing</li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div style="padding: 0px 60px"><hr /></div>
    <div class="footer-content">
      <p>&copy; 2023 your company . All rights reserved</p>
      <div>
        <ul class="social-icons">
          <li>
            <a href=""><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
