.hero-section {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: -75px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.carousel-caption h1 {
  font-size: 3rem;
  font-weight: bold;
}
.carousel-caption p {
  font-size: 1.5rem;
}

.hero-image {
  max-height: 100vh;
  object-fit: cover;
}
